<div class="header wrapper">
  <div class="background"></div>
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active">Home</a></li>
      <li><a routerLink="about" routerLinkActive="active">About me</a></li>
      <li><a routerLink="skills" routerLinkActive="active">Skills</a></li>
      <li>
        <a routerLink="experience" routerLinkActive="active">Experience</a>
      </li>
      <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
  <hr class="hr-animate" />
</div>
