<div class="wrapper">
  <div class="background"></div>

  <div class="column-one">
    <p>Address:</p>
    <br />
    <p>also available here :</p>
    <div class="hero">
      <ul class="social-links">
        <li>
          <a href="mailto:luckycyber1129@gmail.com" target="_blank"
            ><i class="far fa-envelope"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/residentevil0803" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.skype.com/live:.cid.2345e351d77ef9ff"
            target="_blank"
            ><i class="fab fa-skype"></i
          ></a>
        </li>
        <li>
          <a href="https://discordapp.com/users/Terminator#3791" target="_blank"
            ><i class="fab fa-discord"></i
          ></a>
        </li>
        <li>
          <a href="https://t.me/CrazyGiantTom" target="_blank"
            ><i class="fab fa-telegram-plane"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/eri-lee/" target="_blank"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <!-- <li>
          <a href="https://www.instagram.com/eric-lee/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li> -->
        <!-- <li>
          <a href="https://twitter.com/eric-lee" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
        </li> -->
      </ul>
    </div>
    <div></div>
  </div>
</div>
