<div class="row wrapper">
  <div class="background"></div>
  <div class="pulsate"><div #elem class="parallax"></div></div>
  <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div>
  <div class="column-one">
    <p class="pre-name">
      <span role="img" aria-label="wave">👋</span> hey! my name is
    </p>
    <div class="name">
      <p class="p-name">Eric Lee<span class="p-name2">.</span></p>
    </div>
    <div class="name">
      <p class="p-first">
        Welcome to my portfolio website! I'm a Senior Angular Developer with
        over 10 years of experience in the field.
      </p>
      <p class="p-second">
        I have a passion for creating functional, beautiful, and scalable web
        applications using Angular and other related technologies.
      </p>
      <p class="p-third">
        On this website, you'll find examples of my work, details on my skills
        and experience, and information on how to get in touch with me.
      </p>
    </div>
  </div>
  <div class="column-two"></div>
</div>
